@page "/create"
@rendermode InteractiveServer

@inject TTRPGCharacterSheet.Contracts.IClassInfoService ClassInfoService
@inject TTRPGCharacterSheet.Contracts.IRacesInfoService RacesInfoService

<h3>CreateNewCharapter</h3>

@*General information*@

<input @bind="charapterInfo.Name" />
<p>@charapterInfo?.Race?.Name</p>
<p>@charapterInfo?.CharacterClass?.Name</p>

@*Rase*@
<RaceDetails SetCharapterRace="(race)=> OnSetRace(race)" />

@*Class*@
<ClassDetails SetCharapterClass="(characterClass) => OnSetClass(characterClass)" />

@*Abilities*@


@code {
    private string? charapterName;

    private CharapterInfoModel charapterInfo;

    private List<CharacterClass> classes;
    private List<Race> races;

    private Race SelectedRace { get; set; }
    private CharacterClass SelectedClass { get; set; }

    private void OnSetRace(Race race)
    {
        if (charapterInfo?.Race?.Id != race.Id)
        {
            charapterInfo.Race = race;
            StateHasChanged();
        }
    }

    private void OnSetClass(CharacterClass characterClass)
    {
        if (charapterInfo?.CharacterClass?.Id != characterClass.Id)
        {
            charapterInfo.CharacterClass = characterClass;
            StateHasChanged();
        }
    }

    private async Task GetClassDetails(int id)
    {
        if (SelectedClass?.Id != id)
        {
            SelectedClass = null;
            SelectedClass = await ClassInfoService.GetClassDetailsAsync(id);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        charapterInfo = new CharapterInfoModel();
        var classTask = ClassInfoService.GetAvailableClassesListAsync();
        var raceTask = RacesInfoService.GetAvailableRacesListAsync();

        await Task.WhenAll(classTask, raceTask);

        classes = classTask.Result;
        races = raceTask.Result;
    }

}
